{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nova Categoria</h1>
    {% include 'Category/_form.html.twig' with { 'form': form, 'button_label': 'Criar' } %}
    <a href="{{ path('category_index') }}">Voltar à lista</a>
{% endblock %}
